<body>

    <%- include('../header') %>


    <h2> ADMIN</h2>
    <div>
        <ul>
            <h2><a href="/admin/grupos"> Editar Grupos</a></h2>
            <h2><a href="/admin/publicadores"> Editar Publicadores</a></h2>


        </ul>
    </div>


</body>

</html>