<html lang="pt">

<body>

    <%- include('../header') %>

    <h2> Novo Grupo  </h2>

    <div>
        <form method="POST" class="form-grupos">
            <label> Nome </label>
            <input type="text" name="grupo" class="input-grupos">
            <br>
            <button class="pure-button pure-button-primary" id="novo-grupo">Salvar Grupo</button>


        </form>


    </div>

</body>

</html>