<html lang="pt">
    <%- include('../header') %>

<body>
    <div>


        <% months2.forEach ( month => { %>

            
        <br>
        <a class="assistencia" href="/mes/:id"><h3> <%- month %> </h3> </a>
    
         <% })%>

         



    </div>
</body>

</html>