<%- include('../header') %>

    <h2> Relatório Assistência </h2>

    <% Junho.forEach( data => { %>
        <ul>
            <li class="li"><a href=""> <%- data.dias %> </a></li>
        </ul>
    <%}) %>

