<html lang="pt"></html>
        <%- include('header') %>

<body>
        <h2>Assistência <%-grupo.grupo%> </h2>

        <% publicadores.forEach( publicador => { %>
            <ul>
                  <li><input type="checkbox" name="presente" value="1"><a href="publicador/<%- publicador.id %>"> <%- publicador.nome %> </a></li>
            </ul>
        <%}) %>
        <button class="header-jw" id="novo-grupo">Enviar Dados</button>

</body>


</html>