<html>

<head>

    <title>JW - Congregação Vila Dalila</title>
    <p id="false-bar"></p>
    <link href="/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">


    <a href='/'><img src="/images/jwlogo.png" alt="logo JW"></a>
    <!-- <p class="header-text"> Congregação Vila Dalila </p> -->

    <a href="/assistencia"><button name="assistencia" class="header-jw">Assistência </button></a>
    <a href="/grupos"><button name="grupos" class="header-jw">Grupos </button></a>
    <a href="/admin"><button name="admin" class="header-jw">Admin</button></a>
</head>

<body>

</body>



</html>