<html>

<head>

    <title>JW - Congregação Vila Dalila</title>
    <p id="false-bar"></p>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet" />


    <a href='/'><img src="/images/jwlogo.png" alt="logo JW"></a>
    <!-- <p class="header-text"> Congregação Vila Dalila </p> -->

    <a href="/assistencia"><button name="assistencia" class="pure-button">Assistência </button></a>
    <a href="/grupos"><button name="grupos" class="pure-button">Grupos </button></a>
    <a href="/admin"><button name="admin" class="pure-button">Admin</button></a>
    <a href="/relatorios"><button name="relatorios" class="pure-button">Relatorios</button></a>

</head>

<body>

</body>



</html>