<html lang="pt">
    <%- include('../header') %>

<body>
        <h2><%-grupo.grupo %></h2>

        <% publicadores.forEach( publicador => { %>
            <ul>
                <li class="li"><a href="/publicador/<%- publicador.id %>"> <%- publicador.nome %> </a></li>
            </ul>
        <%}) %>

</body>


</html>